{{outlet}}

<div class="registration-page">
  <div class="form">
    <form class="registration-form" {{action 'authenticate' on='submit'}}>
                <label><font size="5">Register a New User</font></label>
		<br><br>
		{{input id='fname' placeholder='First Name' type='text' value=fname}}
		{{input id='lname' placeholder='Last Name' type='text' value=lname}}
		{{input id='email' placeholder='Email' type='email' value=email}}
		{{input id='username' placeholder='Username' value=username}}
                {{input id='password' placeholder='Password' type='password' value=password}}
                <button type="submit">Register!</button>
                {{#if errorMessage}}
                  <p>{{errorMessage}}</p>
                {{/if}}
    </form>
  </div>
</div>
