<article class="listing">
	<h3>CSCE {{model.number}}</h3>
	<div class="detail name">
		{{model.name}}
	</div>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">UNL Bulletin Page</a>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">Credit Hours</a>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">Information about ACE credits</a>
	<br/>

  <br/>

{{outlet}}

<br/><br/>

<ul class="questionBegin" style="margin-left:16px">
<b><li>QUESTIONS</li></b>
<ol class="questionResults" style="margin-left:32px">
	{{#each model.questions as |question|}}
		<li>{{question.text}}</li>
		<ul class="answerResults" style="margin-left:48px">
		    {{#each question.answers as |answer|}}
		    	   <li>{{answer.text}}</li>
		    {{/each}}
		    <li> {{#link-to 'courses.show.answer' (query-params questionID=question.id)}} <button type="submit" size="xs">Submit a new answer!</button> {{/link-to}}</li>
		</ul>
	{{else}}
		<li>Nobody has asked a question here yet.</li>
	{{/each}}
<br/>
 <li>{{#link-to 'courses.show.ask' course=model}} <button type="submit" size="xs">Ask a question!</button> {{/link-to}}</li>
</ol>
</ul>
<br/>



<b><li>COMMENTS</li></b>
<ol class="feedbackResults">
    {{#each model.feedbacks as |feedback|}}
    	    <li>{{feedback.text}}</li>
    {{else}}
	<li>Nobody has left a comment here yet.</li>
    {{/each}}
<br/>
<li>{{#link-to 'courses.show.feedback' course=model}} <button type="submit" size="xs">Share a comment!</button> {{/link-to}}</li>
</ol>
</article>