<article class="listing">
	<h3>CSCE {{model.number}}</h3>
	<div class="detail name">
		{{model.name}}
	</div>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">UNL Bulletin Page</a>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">Credit Hours</a>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">Information about ACE credits</a>
	<br/>

	 {{#link-to 'courses.show.ask' course=model}} <button type="submit">Ask a question!</button> {{/link-to}}
  <br/>

{{outlet}}

<ul class="results">
	{{#each model.questions as |question|}}
		<li>{{question.text}}</li>
	{{else}}
		<li>Nobody has asked a question here yet.</li>
	{{/each}}
</ul>

	 {{#link-to 'courses.show.feedback' course=model}} <button type="submit">Provide feedback!</button> {{/link-to}}
  <br/>

{{outlet}}

</article>