<article class="listing">
	<h3>CSCE {{model.number}}</h3>
	<div class="detail name">
		{{model.name}}
	</div>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">UNL Bulletin Page</a>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">Credit Hours</a>
	<br/>
	<a href="https://bulletin.unl.edu/courses/CSCE/{{model.number}}">Information about ACE credits</a>

</article>


{{outlet}}
