{{outlet}}

<!-- <div class="login-page">
  <div class="form">
    <form class="login-form">
  		{{input id='email' placeholder='email' value=email}}
  		{{input id='password' placeholder='password' type='password' value=password}}
  		<button type="submit">login</button>
    </form>
  </div>
</div> -->

<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Ember Starting Point v1.0.0-rc.3" />
<meta charset=utf-8 />
<title>Ember Starting Point</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://builds.emberjs.com/handlebars-1.0.0-rc.3.js"></script>
  <script src="http://builds.emberjs.com/ember-1.0.0-rc.3.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
  <script type="text/x-handlebars" data-template-name="index">
<form class="form-horizontal" {{action "login" on="submit"}}>
  {{#if loginFailed}}
    <div class="alert">Invalid username or password.</div>
  {{/if}}
  
  {{#if isSlowConnection}}
    <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
  {{/if}}

  <div class="control-group">
    <div class="control-label">
      <label>Username</label>
    </div>

    <div class="controls">
      {{input value=username type="text"}}
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
      <label>Password</label>
    </div>

    <div class="controls">
      {{input value=password type="password"}}
    </div>
  </div>

  <button type="submit" class="btn" {{bindAttr disabled="isProcessing"}}>Log in!</button>
</form>
</script>
  
</body>
</html>